body {
    text-align: center;
    margin: 0;
    color: #40514E;

}



h1 {
    
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    padding-top: 50px;
    color:  #66BFBF;
    line-height: 1;
   
}

h2 {
    font-weight: normal;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    color:  #66BFBF;
}

h3 {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color:  #11999E;
}

p {
    font-size: 20px;
}

hr {
    margin: 100px auto;
    border: dotted 6px #EAF6F6;
    border-bottom: none;
    width: 6%;    
}




.top-container {
    background-color: #E4F9F5;
    text-align: center;
    padding-top: 100px;
    font-family:  'Merriweather', serif; 
    
}


.middle-container {
    background-color: white;
    margin: 100px;
}

.contact-me {
    display: inline-block;
    background-color: white;
    color:  #66BFBF;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 30px;
    margin-top: 100px;
}

.top-cloud {
    position: absolute;
    right: 500px;    
}

.bottom-cloud {
    position: absolute;
    left: 500px; 
    
}


.pro {
    color: darkorchid;
}


.skill-row {
    width: 50%;
    margin: 50px auto 50px auto;
    text-align: left;
    line-height: 2;

}
.bulb-img {
    width: 25%;
    float: left;
    padding-right: 30px;
}

.team-img {
    width: 25%;
    float: right;
    padding-left: 30px;
}

.music-img {
    width: 20%;
    float: left;
    padding-right: 40px;
}

.btn {
  background: #04d7db;
  background-image: -webkit-linear-gradient(top, #04d7db, #11999e);
  background-image: -moz-linear-gradient(top, #04d7db, #11999e);
  background-image: -ms-linear-gradient(top, #04d7db, #11999e);
  background-image: -o-linear-gradient(top, #04d7db, #11999e);
  background-image: linear-gradient(to bottom, #04d7db, #11999e);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 25px;
  padding: 11px 25px 10px 18px;
  border: solid #1f628d 0px;
  text-decoration: none;
}

.btn:hover {
  background: #EAF6F6;
  background-image: -webkit-linear-gradient(top, #04d7db, #3498db);
  background-image: -moz-linear-gradient(top, #04d7db, #3498db);
  background-image: -ms-linear-gradient(top, #04d7db, #3498db);
  background-image: -o-linear-gradient(top, #04d7db, #3498db);
  background-image: linear-gradient(to bottom, #04d7db, #3498db);
  text-decoration: none;
}

.footer-link {
    font-size: 25px; 
    margin: 40px 0px;
    padding: 0px 20px;
    color: #11999E;
    text-decoration: none;
    font: 'Montserrat', sans-serif;
}
.footer-link:hover {
    color: #EAF6F6;
}


.copywrite-font {
    color: #EAF6F6;
    font: 'Montserrat', sans-serif; 
}
    


.contact-me-p {
    color: black;
}

/*
    .logic-skill-descrp {
        clear: left;
    }

    .team-skill-descrp {
        clear: right;
    }

    .music-skill-descrp {
        clear: left;
    }*/
